.main-container{
height: auto;
}
/* Estilo para el contenedor principal */
.customer-selection-container {
    min-height: 0vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #1dd1a1; */
}

.header-title {
    display: flex;
    text-align: left;
    padding: 0px;
}

.header-title h3{
    font-weight: 700 !important;
}

/* Estilo para el contenedor interno */

.content-sub-menu {
    padding: 0px;
}

.custom-sub-menu {
    display: inline-flex;
}

.nav-tabs {
    background-color: #C8CDCC5C;
    border-radius: 8px;
    padding: 2px;
    border: 1px solid #ddd;
    width: auto;

}

/* Modificar los botones */
.nav-tabs .nav-link {
    color: #6B6767;

    padding-right: 25px;
    padding-left: 25px;
    font-size: 13px;
    transition: all 0.3s;

}

/* Estilo cuando el botón está activo */
.nav-tabs .nav-link.active {
    background-color: white;
    /* font-weight: bold; */
    border-radius: 6px;
    color: black;
}

/* Estilo para el encabezado */
.header {
    font-size: 30px;
    color: #000000;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;

}

.contet {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    padding-top: 15px;
}

.content-button-add{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0px;
    
}

.content-button-add button{
    background-color: #000000;
    color: #ffffff;
    border: none;
    height: 40px;
    width: 70%;
    border-radius: 4px;
}

.content-button-add button:hover{
    background-color: #242020;
}