/* Estilo para el contenedor principal */
.customer-selection-container {
    min-height: 0vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #1dd1a1; */
}
.header-title{
    display: flex;
    text-align: left;
    padding: 0px;
}

/* Estilo para el contenedor interno */
.content-wrapper {
    padding-bottom: 2%;

}
.content-sub-menu{
    padding: 0px;
}

.custom-sub-menu{
    display: inline-flex;
}

.nav-tabs {
    background-color: #C8CDCC5C;
    border-radius: 8px;
    padding: 2px;
    border: 1px solid #ddd;
    width: auto;
    
  }
  
  /* Modificar los botones */
  .nav-tabs .nav-link {
    color: #6B6767;
    
    padding-right: 25px;
    padding-left: 25px;
    font-size: 13px; 
    transition: all 0.3s;
   
  }
  
  /* Estilo cuando el botón está activo */
  .nav-tabs .nav-link.active {
    background-color: white;
    /* font-weight: bold; */
    border-radius: 6px;
    color: black;
  }

/* Estilo para el encabezado */
.header {
    font-size: 30px;
    color: #000000;
    text-align: center;
    font-family: Arial, sans-serif ;
    font-weight: 900 !important; 
    background-color: #ffffff!important;
    padding-bottom: 1%;
    padding-top: 1%;
  
}

/* Estilo para el subtítulo */
.text-muted {
    font-size: 14px;
    color: #777777;
    text-align: center;
    margin-bottom: 2%;
}

/* Estilo para las tarjetas de resumen */
.card-summary {
    padding: 15px;
    background-color: #f8f9fa; 
    border: 1px solid #dddddd; 
    border-radius: 8px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    gap: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    min-height: 96px;
}

.card-summary:hover {
    background-color: #000000; 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4); 
    transform: translateY(-5px); 
}

.card-summary h5 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000000; 
}

.card-summary:hover h5 {
    color: #ffffff; 
}

.card-summary p {
    font-size: 14px;
    color: #666666; 
    margin: 0;
}

.card-summary:hover p {
    color: #c4c2c2;
}

/* Estilo para la lista de solicitudes recientes */
.requests-list {
    margin-top: 20px;
}

.request-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.request-item:hover {
    background-color: #f5f5f5;
}

.request-item .status {
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    padding: 5px 10px;
    text-align: center;
    color: #ffffff;
    width: 140px;
}

/* Estilo para los estados */
.status.pending {
    background-color: #ffffff;
}

.status.in-progress {
    background-color: #feca57;
}

.status.completed {
    background-color: #1dd1a1;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Ajusta la altura según sea necesario */
}