@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@400;700&display=swap');

body {
    font-family: 'Gelasio', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gelasio', serif;
}

p, a, span, div {
    font-family: 'Gelasio', serif;
}

input:-webkit-autofill {
    background-color: #ffffff !important;
    box-shadow: 0 0 0px 1000px white inset !important;
  }
  
  /* También puedes resetear estilos al quitar el autocompletado */
  input:-webkit-autofill:focus {
    background-color: #ffffff !important;
  }
  
  /* Para Firefox */
  input:-moz-autofill {
    background-color: white !important;
  }