.content-new-cancellation {
    height: 99% !important;
    overflow-y: auto !important;

}

.content-title {
    display: flex;
    position: sticky;
    top: 0;
    gap: 20px;
    z-index: 100;
    background-color: #ffffff;
}

.content-title button {
    background-color: #ffffffff;
    height: 30px;
    width: 30px;
    border: solid 1px #6B6767;
    border-radius: 5px;
    padding: 0px;

}

.content-title h3 {
    font-weight: 600;
}

.icon-faArrowLeft {
    margin: 1px;
    font-size: 26px;

}

/* titulo formulario*/

.content-formulary {
    border: solid 1px #000000;
    border-radius: 5px;
    padding: 30px 30px 10px 40px;

}


.content-formulary h3 {
    font-weight: 600;
}

.content-formulary p {
    color: #6B6767;
    font-size: 0.9em;
    margin-bottom: 40px;
}


/* formulario */

.content-sub-menu-cance{
    margin-top: 16px;
    margin-bottom: 17px;
}

.formulary h5 {
    margin-top: 20px;
    font-weight: 600;
    color: #000000;
}

.form-field {
    position: relative;
    padding: 0px;
    padding-right: 10px;
}

.form-field input{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    font-size: 0.8em;
}
.content-input-with-icon{
    display: flex;
    align-items: center;
    border: solid 1px #000000;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 8px;
    height: 35px;
}

/* .form-field select {
    padding: 0px 0px 0px 10px !important;
} */

.form-field label {
    font-weight: 600;
    font-size: 0.9em;
    margin-bottom: 7px;
}

.form-field input::placeholder {
    color: #C8CDCC;
}


/*checkbox*/

.radio-container {
    display: flex;
    align-items: start;
    justify-content: start;
    margin-top: 10px;
  
    gap: 10px;
    cursor: pointer;
    font-size: 10px;
    user-select: none;
    
  }
  
  .radio-container input {

    opacity: 10;
    cursor: pointer;
    height: 20px;
    width: 20px;
  }
  

  
  .radio-container input:checked ~ .custom-radio {
    background-color: #f81616;
    border-color: #4caf50;
  }
  
  .custom-radio:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .radio-container input:checked ~ .custom-radio:after {
    display: block;
    color: #e22222;
  }
  
  .radio-container .custom-radio:after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 10%;
    background: rgb(119, 140, 211);
  }


  /**/
.input-description {
    width: 100%;
    height: 150px !important;
    resize: vertical;
    font-size: 0.8em;
}

.content-buttons {
    margin-top: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn-send,
.btn-cancel {

    border-radius: 5px;
    height: 40px;
    width: 180px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-send {
    background-color: #000000;
    color: #ffffffff;
    border: solid 1px #000000;
}

.btn-cancel {
    background-color: #ffffff;
    color: #000000;
    border: solid 1px #000000;
}

input:invalid {
    scroll-margin-top: 99px;
    /* Margen desde arriba al enfocarse automáticamente */
}

@media (max-width: 768px) {
    .content-formulary {
        padding-left: 8px !important;
        padding-right: 4px !important;
    }
}

/* botones por defecto campos numerico*/

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


/*    */

.autocomplete-container {
    position: relative;
    width: 300px;
    
}

.suggestions-list {
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    background: white;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
    max-height: 150px; /* Altura aprox. para 3 ítems, ajusta según el tamaño */
    overflow-y: auto;
}

.suggestions-list li {
    padding: 8px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #eee;
}

/**/